
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Material UI </span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="showcase-sidenav-container">

    <mat-sidenav #sidenav class="showcase-sidenav" disableClose>
        <p><button mat-button (click)="componentSelected('input')">Input</button> </p>
        <p><button mat-button (click)="componentSelected('checkbox')">CheckBox</button> </p>
        <p><button mat-button (click)="componentSelected('radio')">Radio Button</button> </p>
        <p><button mat-button (click)="componentSelected('select')">Select</button> </p>
        <p><button mat-button (click)="componentSelected('datepicker')">Datepicker</button> </p>
        <p><button mat-button (click)="componentSelected('autocomplete')">Autocomplete</button> </p>
    </mat-sidenav>

    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.open()">Components</button></p>
    
      <showcase-autocomplete *ngIf="showAutocomplete"></showcase-autocomplete>
      <showcase-checkbox *ngIf="showCheckbox"></showcase-checkbox>
      <showcase-input *ngIf="showInput"></showcase-input>
      <showcase-radio *ngIf="showRadio"></showcase-radio>
      <showcase-select *ngIf="showSelect"></showcase-select>
      <showcase-datepicker *ngIf="showDatepicker"></showcase-datepicker>
    
    </mat-sidenav-content>

</mat-sidenav-container>
  