/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.showcase-autocomplete {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .showcase-autocomplete-full-width {
    width: 100%;
  }

  .showcase-autocomplete-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }

  [dir='rtl'] .showcase-autocomplete-option-img{
      margin-right: 0;
      margin-left: 8px;
  }

  .showcase-sidenav-container {
    width: flex;
    height: 500px;
  }

  .showcase-sidenav {
    padding: 10px;
  }

  .showcase-input-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .showcase-input-form-field {
    width: 200px;
  }

  .showcase-input-full-width {
    width: 100%;
  }

  .showcase-checkbox-h2 {
    margin: 10px;
  }
  
  .showcase-checkbox-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .showcase-checkbox-margin {
    margin: 0 10px;
  }

  /*Radio Styles*/

  .showcase-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .showcase-radio-button {
    margin: 5px;
  }
  
  .showcase-radio-selected-value {
    margin: 15px 0;
  }

  .showcase-datepicker-full-width {
    width: 100%;
  }
